[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ruby-cucumber"]
	path = bundle/ruby-cucumber
	url = git://github.com/vinhtiensinh/ruby-cucumber.git
